interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://viacep.com.br/ws/80810070/json/
  response:
    body:
      string: "{\n  \"cep\": \"80810-070\",\n  \"logradouro\": \"Rua Solim\xF5es\"\
        ,\n  \"complemento\": \"de 981/982 ao fim\",\n  \"bairro\": \"Merc\xEAs\"\
        ,\n  \"localidade\": \"Curitiba\",\n  \"uf\": \"PR\",\n  \"ibge\": \"4106902\"\
        ,\n  \"gia\": \"\",\n  \"ddd\": \"41\",\n  \"siafi\": \"7535\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
